.translation-popup {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #00ff1a;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: fit-content;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  z-index: 1000;
}

/* < !-- HTML !--> */
/* <button class="button-33" role="button">Button 33</button> */

/* CSS */
.btn-style {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, 
  rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.translate-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1000;
}